<TMPL_INCLUDE NAME="../../standard_head.tmpl"></head><body>

<TMPL_INCLUDE NAME="top.tmpl">


<TMPL_LOOP NAME=CONTACTS>
<hr>
<TMPL_VAR NAME=FIRST_NAME> <TMPL_VAR NAME=LAST_NAME><br>
<TMPL_IF NAME=STREET><TMPL_VAR NAME=STREET><br></TMPL_IF>
<TMPL_IF NAME=ADDRESS><TMPL_VAR NAME=ADDRESS><br></TMPL_IF>
<TMPL_IF NAME=EMAIL><a href="mailto:<TMPL_VAR NAME=EMAIL>"><TMPL_VAR NAME=EMAIL></a><br></TMPL_IF>
<TMPL_IF NAME=HOME_PHONE>Home Phone: <TMPL_VAR NAME=HOME_PHONE><br></TMPL_IF>
<TMPL_IF NAME=BUSINESS_PHONE>Business Phone: <TMPL_VAR NAME=BUSINESS_PHONE><br></TMPL_IF>
<TMPL_IF NAME=CELLPHONE>Cellphone: <TMPL_VAR NAME=CELLPHONE><br></TMPL_IF>
<TMPL_IF NAME=NOTES>Notes: <TMPL_VAR NAME=NOTES></TMPL_IF>
</TMPL_LOOP>

<br>
<br>
<br>
<br>

<TMPL_INCLUDE NAME="../bottom.tmpl">