<font color="red"><TMPL_VAR NAME=MESSAGE></font>

<table width="100%" border="0"><tr>
<td width="40%"><a href="<TMPL_VAR NAME=SCRIPT_NAME>?"><img src="/images/contacts.gif" border=0></a><br><br>
</td>
<td width="20%">
</td>
<td width="36%"></td>
<td width="4%"> 
<div align="right"><a href="/weblog/mmpublisher"><img src="/images/logo_transparent.gif" alt="Mind Mined Publisher Home" border=0></a></div>
</td>
</tr>
</table>

<table width="100%">
<tr>
<td><a href="<TMPL_VAR NAME=SCRIPT_NAME>?action=showCompleteList">Show Complete List (With Addresses)</a></td><td align="right"><a href="<TMPL_VAR NAME=SCRIPT_NAME>?action=contactInterface"><img src="/images/plus_transparent.gif" hspace="4" border="0" align="absmiddle" height="20" width="20">Add Contact</a></td>
</tr>
</table>