<center>
  <span style="white-space: nowrap;">[ <a href="/gallery/index.html">gallery home</a> ]</span>
  <br>
  <br>
  <span style="white-space: nowrap;">[ <a href="/news/index.html">news</a>  ]</span>
  <span style="white-space: nowrap;">[ <a href="/audio/index.html">audio</a> ]</span>
  <span style="white-space: nowrap;">[ <a href="/public_library/">library</a> ]</span>
  <span style="white-space: nowrap;">[ <a href="/preferences.html">dark mode</a> ]</span>
  <span style="white-space: nowrap;">[ <a href="/contact/index.html">contact</a>  ]</span>
 <br><br><br>
    <div style="text-align: center;"><a id="gallery_mm_logo" class="gallery_mm_logo" href="/index.html"><img src="/images/2004_logo.jpg" style="height: 50px; width: 50px;"></a></div>
<br>
<br>
<br>


<script src="https://www.mindmined.com/dark.js"></script>

<br>
</center>
</body>
</html>
