<TMPL_INCLUDE NAME="../../standard_head.tmpl"></head>

<body>

<font color="red"><TMPL_VAR MESSAGE></font>

<div style="float: left;">
    <a href="http://www.mindmined.com/gallery"><img src="/images/the_mm_gallery.gif" border=0></a><br>
</div>

<div style="float: right;">
    <a href="http://www.mindmined.com/private"><img src="/images/logo_transparent.gif" alt="Mind Mined Publisher Home" border=0></a>
</div>

<div style="clear: both;"></div>

<form action="<TMPL_VAR SCRIPT_NAME>" enctype='multipart/form-data' METHOD="POST">

<h1>Artist<TMPL_IF  FIRST_NAME>: <TMPL_VAR FIRST_NAME> <TMPL_VAR LAST_NAME></TMPL_IF></h1>

<b>First:</b> <input type="text" size=40 name="first_name" value="<TMPL_VAR FIRST_NAME>">&nbsp;&nbsp;&nbsp;&nbsp;
<b>Last:</b> <input type="text" size="40" name="last_name" value="<TMPL_VAR LAST_NAME>"><br><br>

<b>Email Address</b> of the artist (if any): <input type="text" size="20" name="email" value="<TMPL_VAR EMAIL>"><br><br>

<b>Homesite</b> of the artist (if any): <input type="text" size="50" name="homesite" value="<TMPL_VAR HOMESITE>"><br><br>

<b>Directory Name</b> in which to store the artist's files: <input type="text" size="20" name="dir" value="<TMPL_VAR DIR>"><br><br>

<b>Bio</b> for the artist:<br>

<textarea name="bio" cols="40" rows="8"><TMPL_VAR NAME=BIO></textarea>
<br>
<br>
<input type="hidden" name="id" value="<TMPL_VAR ID>">
<input type="hidden" name="action" value="saveArtist">
<input type="submit" value="<TMPL_VAR ADD_OR_UPDATE> Artist">
</form>
<br>
<br>

<TMPL_INCLUDE NAME="../bottom.tmpl">
