<TMPL_INCLUDE NAME="songsHeader.tmpl">

<TMPL_INCLUDE NAME="songsTop.tmpl">

<br>

<form method="post" action="/cgi-bin/private/songs.cgi">

    Name of SongBook: <input type="text" size="50" name="name" value="<TMPL_VAR NAME=NAME>"><br><br>

    <input type="hidden" name="action" value="saveSongbook">
    <input type="hidden" name="id" value="<TMPL_VAR NAME=ID>">
    <input type="submit" value="Save">

</form>

<hr>








<TMPL_INCLUDE NAME="songsFooter.tmpl">
