<html>
<head>
<title><TMPL_IF PAGETITLE><TMPL_VAR PAGETITLE><TMPL_ELSE>Mind Mined SongBook</TMPL_IF></title>

<style>

A:link    {color:#000000; text-decoration:none;}
A:visited {color:#000000; text-decoration:none;}
A:active  {color:#000000; text-decoration:none;}
A:hover   {color:#FF3333; text-decoration:underline;}

th {
    font-weight: bold;
}

p.message {
    color: red;
}

p.title {
    margin-top: 0cm;
    margin-bottom: 0cm;
    line-height: 120%;
    font-size: 32px;
}

p.credits {
    margin-top: 0cm;
    margin-bottom: 0cm;
    line-height: 90%;
    font-size: 20px;
}

chordsheet {
    font-family: Courier New, monospace;
}

/* Source: http://snipplr.com/view/10979/css-cross-browser-word-wrap */
/*.wordwrap { 
/*   white-space: pre-wrap;      /* CSS3 */   
/*   white-space: -moz-pre-wrap; /* Firefox */    
/*   white-space: -pre-wrap;     /* Opera <7 */   
/*   white-space: -o-pre-wrap;   /* Opera 7 */    
/*   word-wrap: break-word;      /* IE */
/*}


</style>

<script language="Javascript">

function fontSizeDown(chordsheet) {
    chordsheet = document.getElementById('chordsheet');
    const fontSize = window.getComputedStyle(chordsheet).fontSize;
    const size = parseInt(fontSize, 10);
    document.getElementById('chordsheet').style.fontSize = size - 2 + 'px';
}

function fontSizeUp() {
    chordsheet = document.getElementById('chordsheet');
    const fontSize = window.getComputedStyle(chordsheet).fontSize;
    const size = parseInt(fontSize, 10);
    document.getElementById('chordsheet').style.fontSize = size + 2 + 'px';
}

function printSetlist() {
    var print_button = document.getElementById('print_button');
    print_button.style.visibility = 'hidden';
    var songs_top = document.getElementById('songs_top');
    songs_top.style.visibility = 'hidden';
    if (window.print) {
        if (confirm("Print Page?")) {
            window.print();
            setTimeout('makeSetlistToolsVisible()', 10000);
        }
        else {
            makeSetlistToolsVisible();
        }
    }
}

function printSong() {
    var audio_url = document.getElementById('audio_url');
    audio_url.style.visibility = 'hidden';
    var print_button = document.getElementById('print_button');
    print_button.style.visibility = 'hidden';
    var textsize_chooser = document.getElementById('textsize_chooser');
    textsize_chooser.style.visibility = 'hidden';
    if ( window.print ) {
        if ( confirm("Print Page?") ) {
            window.print();
            setTimeout('makeSongToolsVisible()', 10000);
        }
        else {
            makeSongToolsVisible();
        }
    }
}

function makeSetlistToolsVisible() {
    var print_button = document.getElementById('print_button');
    var songs_top = document.getElementById('songs_top');
    print_button.style.visibility = 'visible';
    songs_top.style.visibility = 'visible';
}

function makeSongToolsVisible() {
    var audio_url = document.getElementById('audio_url');
    var print_button = document.getElementById('print_button');
    var textsize_chooser = document.getElementById('textsize_chooser');
    audio_url.style.visibility = 'visible';
    print_button.style.visibility = 'visible';
    textsize_chooser.style.visibility = 'visible';
}

</script>

</head>
