<TMPL_INCLUDE NAME="songsHeader.tmpl">

<TMPL_INCLUDE NAME="songsTop.tmpl">

<br>

<form method="post" action="/cgi-bin/private/songs.cgi">

    <input type="submit" value="Save Song">
    <br><br>

    Title: <input type="text" size="50" name="title" value="<TMPL_VAR NAME=TITLE>"> &nbsp;&nbsp;&nbsp;&nbsp;

    Credits: <input type="text" size="50" name="credits" value="<TMPL_VAR NAME=CREDITS>"><br><br>

    Chordsheet:<br>
    <!-- <textarea onkeydown="return insertTab(event,this);" onkeyup="return insertTab(event,this);" onkeypress="return insertTab(event,this);" rows="80" cols="90" name="chordsheet" style="font-size: 1.1em; font-family: monospace;"><TMPL_VAR NAME=CHORDSHEET></textarea>
    <br><br> -->

    <textarea rows="60" cols="90" name="chordsheet" style="font-size: 1.1em; font-family: monospace;"><TMPL_VAR NAME=CHORDSHEET></textarea>
    <br><br>

    More Information URL: <input maxlength="255" type="text" size="75" name="more_info_url" value="<TMPL_VAR NAME=CHORDS_URL>"><br><br>

    Audio URL: <input maxlength="255" type="text" size="75" name="audio_url" value="<TMPL_VAR NAME=AUDIO_URL>"><br><br>

    <input type="hidden" name="action" value="saveSong">
    <input type="hidden" name="id" value="<TMPL_VAR NAME=ID>">
    <!-- we may want to return to a specific songbook in the mainInterface -->
    <input type="hidden" name="songbook_id" value="<TMPL_VAR NAME=SONGBOOK_ID>">
    <input type="submit" value="Save Song">

</form>



<!-- <TMPL_VAR NAME=MORE_INFO_URL> -->





<TMPL_INCLUDE NAME="songsFooter.tmpl">
