<TMPL_INCLUDE NAME="../standard_head.tmpl"></head><body>
<TMPL_INCLUDE NAME="../standard_top.tmpl">

<div style="padding: 20px; height: 100%;">

    <h1 class="style1">Editor</h1>

          <table width="400px;" border="0">
            <tr>
              <td width="15%" valign="top">email</td>
              <td width="85%" valign="top"><a href="mailto:marcus@mindmined.com" class="type4">marcus@mindmined.com</a></td>
            </tr>
            <tr>
              <td valign="top"></td>
            </tr>
            <tr>
              <td valign="top">snail</td>
              <td valign="top" class="style1">Mind Mined Productions<br>
P.O. Box 778<br>
Alton, NH &nbsp;03809</td>
            </tr>
          </table>

</div>

<script src="../dark.js"></script>

<TMPL_INCLUDE NAME="../standard_bottom.tmpl">

