<TMPL_INCLUDE NAME="../../standard_head.tmpl"></head><body>

<body>

<div style="float: left; margin-right: 50px;">
    <img src="/audiofun-images/audio_machine.gif" width="300" height="60">
</div>

<div style="float: left;">
    <a href="<TMPL_VAR SCRIPT_NAME>?action=recordingArtist">Add 
    Recording Artist</a> &nbsp;&nbsp;&nbsp;&nbsp; <a href="<TMPL_VAR SCRIPT_NAME>?action=release">Add 
    Release</a> &nbsp;&nbsp;&nbsp;&nbsp; <a href="<TMPL_VAR SCRIPT_NAME>?action=track">Add 
    Track</a>
</div>


<div style="float: right; margin-left: 20px;">
    <a href="/private"><img src="/images/logo_transparent.gif" alt="Mind Mined Publisher Home" border=0></a>
</div>

<div style="float: right;">
    <form action="<TMPL_VAR SCRIPT_NAME>">
    <input type="hidden" name="action" value="batchFunhouse">
    <input type="submit" value="Batch the Funhouse">
    </form>
</div>

<div style="clear: both;"></div>

<font color="red"><TMPL_VAR MESSAGE></font>

<h1>Recording Artists</h1>
<table width="100%">
    <tr bgcolor="#33CCCC">
        <td>Recording Artist</td>
        <td>Email</td>
        <td>Homesite</td>
        <td>Directory</td>
        <td align="center">Edit</td>
        <td align="center">Delete</td>
    </tr>
    <TMPL_LOOP REC_ARTISTS>
        <tr bgcolor="<TMPL_VAR BGCOLOR>">
        <td><TMPL_VAR REC_ARTIST></td>
        <td><a href="mailto:<TMPL_VAR EMAIL>"><TMPL_VAR EMAIL></a></td>
        <td><a target="_blank" href="<TMPL_VAR HOMESITE>"><TMPL_VAR HOMESITE></a></td>
        <td><TMPL_VAR DIR></td>
        <td align="center"><a href="<TMPL_VAR SCRIPT_NAME>?action=recordingArtist&id=<TMPL_VAR ID>"><img src="/images/pencil.gif" border="0"></a></td>
        <td align="center"><a href="<TMPL_VAR SCRIPT_NAME>?action=deleteRecArtist&id=<TMPL_VAR ID>" onClick="return window.confirm('Delete this recording artist?')"><img src="/images/delete.gif" border="0"></a>
        </td>
        </tr>
    </TMPL_LOOP>
</table>


<h1>Releases</h1>
<table width="100%">
    <tr bgcolor="#33CCCC">
        <td>Release</td>
        <td>Year</td>
        <td>Filename</td>
        <td align="center">Edit</td>
        <td align="center">Delete</td>
    </tr>
    <TMPL_LOOP RELEASES>
        <tr bgcolor="<TMPL_VAR BGCOLOR>">
        <td><TMPL_VAR RELEASE></td>
        <td><TMPL_VAR YEAR></td>
        <td><TMPL_VAR FILENAME></td>
        <td align="center"><a href="<TMPL_VAR SCRIPT_NAME>?action=release&id=<TMPL_VAR ID>"><img src="/images/pencil.gif" border="0"></a></td>
        <td align="center"><a href="<TMPL_VAR SCRIPT_NAME>?action=deleteRelease&id=<TMPL_VAR ID>" onClick="return window.confirm('Delete this release?')"><img src="/images/delete.gif" border="0"></a></td>
        </tr>
    </TMPL_LOOP>
</table>

<h1>Tracks</h1>
<table width="100%">
    <tr bgcolor="#33CCCC">
    <td>Track</td>
    <td>Length</td>
    <td>Bitrate</td>
    <td>Mediatype</td>
    <td>Release</td>
    <td align="center">Edit</td>
    <td align="center">Delete</td>
    </tr>
    <TMPL_LOOP TRACKS>
    <tr bgcolor="<TMPL_VAR BGCOLOR>">
    <td><TMPL_VAR TITLE></td>
    <td><TMPL_VAR LENGTH></td>
    <td><TMPL_VAR BITRATE></td>
    <td><TMPL_VAR MEDIATYPE></td>
    <td><TMPL_VAR RELEASE></td>
    <td align="center"><a href="<TMPL_VAR SCRIPT_NAME>?action=track&id=<TMPL_VAR ID>"><img src="/images/pencil.gif" border="0"></a></td>
    <td align="center"><a href="<TMPL_VAR SCRIPT_NAME>?action=deleteTrack&id=<TMPL_VAR ID>" onClick="return window.confirm('Delete this track?')"><img src="/images/delete.gif" border="0"></a></td></tr>
    </TMPL_LOOP>
</table>

<br>
<br>
<br>


<TMPL_INCLUDE NAME="../bottom.tmpl">
