<TMPL_INCLUDE NAME="../../standard_head.tmpl"></head><body>
<TMPL_INCLUDE NAME="top.tmpl">

<h1>Release: <TMPL_IF TRACK><TMPL_VAR TITLE><TMPL_ELSE>Add New</TMPL_IF></h1>

<form action="<TMPL_VAR SCRIPT_NAME>" enctype='multipart/form-data' method="post">

<strong>Release:</strong> <input type="text" size=50 name="release" value="<TMPL_VAR RELEASE>" required>
<br><br>

<strong>Description</strong><br>
<textarea name="description" cols="80" rows="8" id="description"><TMPL_VAR DESCRIPTION></textarea> <br><br>

<strong>Filename</strong> to use:<br>
<input type="text" size="40" name="filename" value="<TMPL_VAR FILENAME>" placeholder="filename.html" required>
<br><br>

<select name="rec_artist_id">
    <option value="0" SELECTED>choose recording artist...
    <TMPL_LOOP REC_ARTIST_OPTIONS>
        <option value="<TMPL_VAR ID>" <TMPL_VAR SELECTED>><TMPL_VAR REC_ARTIST>
    </TMPL_LOOP>
</select>
<br><br>

<strong>Year</strong> of the release: <input type="text" size="4" name="year" value="<TMPL_VAR YEAR>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<b>Product</b> to Include: 
<select name="store_id">
<option value="0" SELECTED>associate to product...
<TMPL_LOOP PRODUCT_OPTIONS>
    <option value="<TMPL_VAR ID>" <TMPL_VAR SELECTED>><TMPL_VAR PRODUCT>
</TMPL_LOOP>
</select>
<br><br>

<b>Release image URL</b> to pretty things up<br>
<input type="text" size="100" name="image_url" value="<TMPL_IF IMAGE_URL><TMPL_VAR IMAGE_URL><TMPL_ELSE>/audiofun-images/</TMPL_IF>">
<br><br>

<input type="hidden" name="action" value="saveRelease">
<input type="hidden" name="id" value="<TMPL_VAR ID>">
<input type="submit" value="Save Release">
</form>

<br><br>


<TMPL_INCLUDE NAME="../bottom.tmpl">
