<body background="/umbrella-images/watermark.gif">
<font color="red"><TMPL_VAR MESSAGE></font>

<table width="100%" border="0">
    <tr>
    <td width="51%">
    <a href="<TMPL_VAR SCRIPT_NAME>">
    <img src="/audiofun-images/audio_machine.gif" width="300" height="60">
    </a>
    <br>
    </td>
    </td>
    <td width="6%"> 
    <div align="right"><a href="/private"><img src="/images/logo_transparent.gif" alt="Mind Mined Publisher Home" border=0></a></div>
    </td>
    </tr>
</table>
