<TMPL_INCLUDE NAME="../../standard_head.tmpl"></head><body>
<TMPL_INCLUDE NAME="top.tmpl">

<br><br>

<h1>Track: <TMPL_IF TRACK><TMPL_VAR TITLE><TMPL_ELSE>Add New</TMPL_IF></h1>

<form action="<TMPL_VAR SCRIPT_NAME>" enctype='multipart/form-data' method="post">

Enter the <b>url</b> of the audio file<br>
<input type="text" size="125" name="url" value="<TMPL_VAR URL>" required> <br><br>

Enter the <b>title</b> of the track<br>
<input type="text" size="50" name="title" value="<TMPL_VAR TITLE>" required> &nbsp;&nbsp; <input type="checkbox" name="published" <TMPL_IF PUBLISHED>CHECKED</TMPL_IF>> Published<br><br>

<select name="release_id">
    <option value="0" SELECTED>choose release...
    <TMPL_LOOP RELEASE_OPTIONS>
        <option value="<TMPL_VAR ID>" <TMPL_VAR SELECTED>><TMPL_VAR RELEASE>
    </TMPL_LOOP>
</select> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<strong>Length</strong> of the track: <input type="text" size="5" name="length" value="<TMPL_VAR LENGTH>">

<br><br>

<strong>Media Type</strong> &nbsp;&nbsp;
<input type="text" size="20" name="mediatype" value="<TMPL_VAR MEDIATYPE>">
&nbsp;&nbsp;&nbsp;&nbsp;<b>Bitrate</b> &nbsp;&nbsp;
<input type="text" size="20" name="bitrate" value="<TMPL_VAR BITRATE>">

<br><br>

<input type="hidden" name="action" value="saveTrack">
<input type="hidden" name="id" value="<TMPL_VAR ID>">
<input type="submit" value="Save">
<br>
</form>

<br><br>


<TMPL_INCLUDE NAME="../bottom.tmpl">
