<TMPL_INCLUDE NAME="../../standard_head.tmpl">

<script>

function toggleURLField(fileInput) {
    const urlField = document.getElementById("newsbit_image_URL");
    urlField.disabled = fileInput.files.length > 0;
}

</script>

</head>

<body>

<div style="float: left;">
    <h2>Edit Newsbit <TMPL_IF DATETIME><a href="/news/archive/<TMPL_VAR FILENAME>" target="_blank">posted <TMPL_VAR DATETIME></a></TMPL_IF></h2>
</div>

<div style="float: right;">
    <a href="/cgi-bin/private/news.cgi"><img src="/images/logo_transparent.gif" alt="Mind Mined News Publisher Home" border=0></a>
</div>
<div style="clear: both;"></div>

<div style="width: 50%; float: left;">
    
    <form method="post" action="<TMPL_VAR SCRIPT_NAME>" enctype="multipart/form-data">

    <select name="category" required>
    <option value="">select category...
    <TMPL_LOOP CATEGORIES>
        <option value="<TMPL_VAR CATEGORY>" <TMPL_IF SELECTED>SELECTED</TMPL_IF>> <TMPL_VAR CATEGORY>
    </TMPL_LOOP>
    </select> &nbsp;&nbsp;&nbsp; 

    <input type="checkbox" name="published" <TMPL_IF PUBLISHED>CHECKED</TMPL_IF>> Published

    <br><br>

    Title: <input style="width: 80%;" maxlength="255" type="text" name="title" value="<TMPL_VAR TITLE ESCAPE=HTML>" size="75" required><br><br>

    Featured URL:<br>
    <input style="width: 95%;" maxlength="255" type="text" name="newsbit_URL" value="<TMPL_VAR NEWSBIT_URL>" placeholder="direct users to this link, onsite or off"><br><br>

    Image: <input type="file" name="image" onChange="toggleURLField(this);"><br><br>

    Image URL:<br>
    <input style="width: 95%;" maxlength="255" type="text" id="newsbit_image_URL" name="newsbit_image_URL" value="<TMPL_VAR NEWSBIT_IMAGE_URL>" size="100"><br><br>

    Image Caption:<br>
    <input style="width: 95%;" maxlength="255" type="text" id="image_caption" name="image_caption" value="<TMPL_VAR IMAGE_CAPTION>" size="100"><br><br>

    Newsbit:<br>
    <textarea name="newsbit" style="width: 95%; height: 450px;" required><TMPL_VAR NEWSBIT></textarea><br><br>
    <input type="hidden" name="id" value="<TMPL_VAR ID>">
    <input type="hidden" name="action" value="saveNewsbit">
    <input type="submit" value="<TMPL_IF ID>Update<TMPL_ELSE>Add</TMPL_IF> Newsbit">
    </form>

</div>

<div style="width: 50%; float: right; background-color: #DDDDDD;">
    <TMPL_IF ID>
        Preview:<br><br>
        <TMPL_INCLUDE NAME="templates/news/article_include.tmpl">
    </TMPL_IF>
</div>

<div style="clear: both;"></div>

<br>


<TMPL_INCLUDE NAME="../bottom.tmpl">
