<TMPL_INCLUDE NAME="../../standard_head.tmpl"></head><body>


<font color="red"><TMPL_VAR NAME=MESSAGE></font>

<table width="100%" border="0">
<tr>
<td width="40%"><font size=3 face="Arial"><img src="/images/business_manager.gif" border="0"><br>
<br>
</td>
<td width="20%">
<br>
</td>
<td width="36%">
</font></td>
<td width="4%"> 
<div align="right"><a href="/weblog/mmpublisher"><img src="/images/logo_transparent.gif" alt="Mind Mined Publisher Home" border=0></a></div>
</td>
</tr>
</table>

<h2>Save Client</h2>
<form method="post" action="<TMPL_VAR NAME=SCRIPT_NAME>"> 
Client or Business Name: <input type="text" size="30" name="name" value="<TMPL_VAR NAME=NAME>"><br><br>
Website URL: <input type="text" size="40" name="website" value="<TMPL_VAR NAME=WEBSITE>"><br><br>
<input type="hidden" name="id" value="<TMPL_VAR NAME=ID>">
<input type="hidden" name="action" value="saveClient">
<input type="submit" value="Save">
</form>
<br>
<br>


<TMPL_INCLUDE NAME="../bottom.tmpl">