<div>
    <a class="type4" href="<TMPL_VAR ARTIST_URL>"><img style="max-width: 100%;" alt="today's featured artist is <TMPL_VAR ARTIST>" border="0" src="<TMPL_VAR GALLERY_IMAGE_URL>"><br>by <TMPL_VAR ARTIST></a>
</div>
<!-- end gallery feature -->
