<div>
    <a class="type4" href="<TMPL_VAR RELEASE_URL>"><img style="max-width: 100%;" border="0" alt="<TMPL_VAR TRACK_REC_ARTIST>" src="<TMPL_VAR RELEASE_IMAGE_URL>"></a><br>
    <figure style="margin: 0 auto;">
    <audio src="<TMPL_VAR TRACK_URL>" controls="" controlsList="noplaybackrate" noplaybackrate="" flashstopped="true" id="" preload="metadata">
        Sorry, your browser does not support the
        <code>audio</code> element.
    </audio><br>
    <TMPL_VAR TRACK_TITLE> by <a class="type4" href="<TMPL_VAR TRACK_REC_ARTIST_URL>"><TMPL_VAR TRACK_REC_ARTIST></a>
    </figure>
</div>
<!-- end track of the day -->

