<!-- start release of the day -->
<div style="">
    release of the day
    <br><br>
    
    <a class="type4" href="<TMPL_VAR RELEASE_URL>"><img style="max-width: 100%;" border="0" alt="" src="<TMPL_VAR RELEASE_IMAGE_URL>"><br>
    <TMPL_VAR RELEASE></a> by <a class="type4" href="<TMPL_VAR REC_ARTIST_URL>"><TMPL_VAR REC_ARTIST></a>
</div>
<!-- end release of the day -->

