<!-- start title of the day table -->

<div>

    Title of the Day<TMPL_IF HOMEPAGE> from the <a href="/public_library">Library</a></TMPL_IF><br><br>

    <a class="type4" href="<TMPL_VAR TITLE_URL>"><img hspace="5" border="0" alt="<TMPL_VAR TITLE_ALT>" style="max-width: 100%;" src="<TMPL_VAR TITLE_IMAGE_URL>"><br>

    <TMPL_VAR TITLE></a> by <a class="type4" href="<TMPL_VAR TITLE_URL>#bio"><TMPL_VAR AUTHOR></a><br>
    <TMPL_VAR TITLE_DESCRIPTION><br>
</div>
<!-- end title of the day -->

