<!-- start rec artist of the day -->
<div style="">
    redcording artist of the day
    <br><br>
    
    <a class="type4" href="<TMPL_VAR REC_ARTIST_URL>"><img style="max-width: 100%;" border="0" alt="" src="<TMPL_VAR REC_ARTIST_IMAGE_URL>"><br>
    <a class="type4" href="<TMPL_VAR REC_ARTIST_URL>"><TMPL_VAR REC_ARTIST></a>
</div>
<!-- end rec artist of the day -->

