<TMPL_INCLUDE NAME="../standard_head.tmpl">

<style>

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 1fr;
    grid-gap: 20px;
}

</style>

</head><body>
<TMPL_INCLUDE NAME="../standard_top.tmpl">


<div class="IX_content">

    <div style="float: left; width: 60%; margin-left: 30px;">

        <h1><TMPL_VAR RELEASE></h1>
        <h2>from <a class="type4" href="/audiofun/<TMPL_VAR DIR>/"><TMPL_VAR REC_ARTIST></a></h2>
        <TMPL_IF PRODUCT_URL>
            <!-- <a class="type4" href="<TMPL_VAR PRODUCT_URL>">buy now</a> $<TMPL_VAR PRICE><br> -->
        </TMPL_IF>
        <br>

        <TMPL_IF TRACKS>
            <h2><!-- Tracks from --><TMPL_VAR RELEASE> (<TMPL_VAR YEAR>)</h2>
            <div class="grid">
            <TMPL_LOOP TRACKS>
                <div>
                    <h3 style="font-weight: normal; color: #AAAAAA;"><TMPL_VAR TRACKNUM> &nbsp; <a class="type4" href="<TMPL_VAR URL>"><TMPL_VAR TITLE></a></h3>
                    <TMPL_IF AUDIO>
                        <audio src="<TMPL_VAR URL>" controls="" controlsList="noplaybackrate" flashstopped="true" id="" preload="metadata">
                            <a href="<TMPL_VAR URL>"><img src="/audiofun-images/download_arrow2.gif" border="0">Download</a>
                        </audio><br><br><br>
                    </TMPL_IF>
                    <TMPL_IF VIDEO>
                        <video controls="">
                            <source src="<TMPL_VAR URL>" type="video/mp4">

                            Download the <a href="<TMPL_VAR URL>">video</a>
                        </video>
                    </TMPL_IF>
                    <!-- <TMPL_VAR LENGTH> - <TMPL_VAR MEDIATYPE> -->
                    <!-- <TMPL_VAR BITRATE> -->
                </div>
            </TMPL_LOOP>
            </div>
        <TMPL_ELSE>
        
        </TMPL_IF>

        <img src="<TMPL_VAR IMAGE_URL>" style="max-width: 100%;" vspace="8"><br>

        <article>
            <p><TMPL_VAR DESCRIPTION></p>
        </article>


    </div>

    <div style="float: right; width: 33%; padding: 12px;">

        <br>

        <a href="https://www.mindmined.com/news.xml">subscribe via <img valign="center" alt="Mind Mined syndicated" src="https://www.mindmined.com/news/images/xml.gif" border="0" hspace="9"></a> <br><br><br>
        
        <img alt="internet releases from mindmined.com" src="/images/audio_funhouse.gif"><br><br>

        more audio offerings...<br><br>
        <TMPL_INCLUDE NAME="right_nav.tmpl">

    </div>

    <div style="clear: both;"></div>

</div>

<div class="IX_content_mobile" style="margin-left: 12px;">

        <h1><TMPL_VAR RELEASE></h1>
        from <a class="type4" href="/audiofun/<TMPL_VAR DIR>/"><TMPL_VAR REC_ARTIST></a><br>
        <TMPL_IF PRODUCT_URL>
            <!-- <a class="type4" href="<TMPL_VAR PRODUCT_URL>">buy now</a> $<TMPL_VAR PRICE><br> -->
        </TMPL_IF>
        <br>

        <img src="<TMPL_VAR IMAGE_URL>" style="max-width: 100%;" vspace="8"><br>

        <article>
            <p><TMPL_VAR DESCRIPTION></p>
        </article>

        <TMPL_IF TRACKS>
            <h1>Tracks from <TMPL_VAR RELEASE> (<TMPL_VAR YEAR>)</h1>
            <TMPL_LOOP TRACKS>
                <h2><TMPL_VAR TITLE></h2>
                <audio src="<TMPL_VAR URL>" controls="" controlsList="noplaybackrate" flashstopped="true" id="" preload="metadata">
                    Sorry, your browser does not support the <code>audio</code> element.
                </audio><br><br>
                <!-- <a href="<TMPL_VAR URL>"><img src="/audiofun-images/download_arrow2.gif" border="0"></a> -->
                <!-- <TMPL_VAR LENGTH> - <TMPL_VAR MEDIATYPE> -->
                <!-- <TMPL_VAR BITRATE> -->
            </TMPL_LOOP> <br><br><br><br>
        </TMPL_IF>


        more audio offerings...<br><br>
        <TMPL_INCLUDE NAME="right_nav.tmpl">

</div>







<TMPL_INCLUDE NAME="../standard_bottom.tmpl">
