<TMPL_INCLUDE NAME="../standard_head.tmpl"></head><body>
<TMPL_INCLUDE NAME="../standard_top.tmpl">



<div class="IX_content">

    <div style="float: left; margin-left: 45px; font-size: 1.3em;">

        <h1>Releases</h1>
        <h3>by date of release to Mind Mined</h3>

        <ul>
        <TMPL_LOOP RELEASES>
            <li>
            <font size="-1"><TMPL_VAR YEAR></font> <a class="type4" href="/audiofun/<TMPL_VAR DIR>/<TMPL_VAR FILENAME>">
            <b><TMPL_VAR RELEASE></b></a> from <a class="type4" href="/audiofun/<TMPL_VAR DIR>"><TMPL_VAR REC_ARTIST></a>
            </li>
        </TMPL_LOOP>
        </ul>

    </div>

    <div style="float: right; width: 35%;">

        <br><br>
        <img alt="independent releases promoted by mindmined.com" src="/images/audio_funhouse.gif"><br><br>
        releases: <TMPL_VAR TOTAL><br><br>
        <a class="type4" href="https://www.mindmined.com/audio/rec_artists.html">
        <img align="absmiddle" border="0" hspace="3" vspace="3" src="/images/bullet.gif">recording artists</a><br>
        <a class="type4" href="https://www.mindmined.com/audio/alpha_by_track.html">
        <img align="absmiddle" border="0" hspace="3" vspace="3" src="/images/bullet.gif">tracks</a><br><br><br>

        <TMPL_INCLUDE NAME="templates/daily_features/today_release.html">
    </div>

    <div style="clear: both;"></div>

</div>

<div class="IX_content_mobile">

    <div style="padding: 20px;">

        <h1>Releases (by date of release to Mind Mined)</h1>

        <ul style="font-size: 1.3em;">
        <TMPL_LOOP RELEASES>
            <li style="line-height: 20px; margin-bottom: 10px;">
            <font size="-1"><TMPL_VAR YEAR></font> <a class="type4" href="/audiofun/<TMPL_VAR DIR>/<TMPL_VAR FILENAME>"><TMPL_VAR RELEASE></a> from <a class="type4" href="/audiofun/<TMPL_VAR DIR>"><TMPL_VAR REC_ARTIST></a>
            </li>
        </TMPL_LOOP>
        </ul> <br><br><br>

        <img alt="independent releases promoted by mindmined.com" src="/images/audio_funhouse.gif"><br><br>

        <div style="font-size: 1.3em;">
            releases: <TMPL_VAR TOTAL><br><br>
            <a class="type4" href="https://www.mindmined.com/audio/rec_artists.html">
            <img align="absmiddle" border="0" hspace="3" vspace="3" src="/images/bullet.gif">recording artists</a><br>
            <a class="type4" href="https://www.mindmined.com/audio/alpha_by_track.html">
            <img align="absmiddle" border="0" hspace="3" vspace="3" src="/images/bullet.gif">tracks</a><br><br><br>

            <TMPL_INCLUDE NAME="templates/daily_features/today_release.html">
        </div>
    </div>

</div>


<TMPL_INCLUDE NAME="../standard_bottom.tmpl">
