<TMPL_INCLUDE NAME="standard_head.tmpl">

<style>

</style>

</head>

<body>

<TMPL_INCLUDE NAME="standard_top.tmpl">

<div class="IX_content">

    <div style="float: left; width: 60%;">

        <TMPL_LOOP NEWSBITS>
            <span style="width: 100%; padding-left: 20px;"><a href="/news/archive/<TMPL_VAR FILENAME>"><TMPL_VAR NEWSBIT_DATETIME></a></span>
            <TMPL_INCLUDE NAME="news/article_include.tmpl">
        </TMPL_LOOP>

    </div>

    <div style="float: right; width: 33%; padding: 12px; margin-right: 15px;">

        <br>

        <a href="https://www.mindmined.com/news.xml">subscribe via <img valign="center" alt="Mind Mined syndicated" src="https://www.mindmined.com/news/images/xml.gif" border="0" hspace="9"></a> <br><br>

        Image of the Day from the <a href="/gallery">Gallery</a><br><br>
        <TMPL_INCLUDE NAME="templates/daily_features/today_artist.html"><br><br><br><br><br>

        Track of the Day from the <a href="/audio">Audio Funhouse</a><br><br>
        <TMPL_INCLUDE NAME="templates/daily_features/today_track.html"><br><br><br><br><br><br>

        Title of the Day from the <a href="/audio">Public Library</a><br><br>
        <TMPL_INCLUDE NAME="daily_features/today_title.html">

    </div>

    <div style="clear: both;"></div>

</div>

<div class="IX_content_mobile">

    <!-- newsbits -->
    <TMPL_LOOP NEWSBITS>
        <article>
            <p class="dropcap"><TMPL_VAR NEWSBIT></p>
            <TMPL_IF NEWSBIT_IMAGE_URL><TMPL_IF NEWSBIT_URL><a href="<TMPL_VAR NEWSBIT_URL>"></TMPL_IF><img style="max-width: 100%;" src="<TMPL_VAR NEWSBIT_IMAGE_URL>"><TMPL_IF NEWSBIT_URL></a></TMPL_IF></TMPL_IF>
            <br><br><br>
            <div style="text-align: center;"><img src="/images/2004_logo.jpg" height="25" width="25"></div>
        </article>
    </TMPL_LOOP>

    Image of the Day from the <a href="/gallery">Gallery</a><br><br>
    <TMPL_INCLUDE NAME="templates/daily_features/today_artist.html"><br><br><br><br><br>

    Track of the Day from the <a href="/audio">Audio Funhouse</a><br><br>
    <TMPL_INCLUDE NAME="templates/daily_features/today_track.html"><br><br><br><br><br><br>

    Title of the Day from the <a href="/audio">Public Library</a><br><br>
    <TMPL_INCLUDE NAME="daily_features/today_title.html">

</div>


<TMPL_INCLUDE NAME="standard_bottom.tmpl">
