<div class="IX_footer_container">

    <div class="IX_footer">

        <table cellspacing="0" cellpadding="0" width="100%" border=0>
            <tr>
            <td><img height="30" src="/images/spacer.gif" width="1" border="0">
            </td>
            </tr>
            <tr>
            <td background="/images/dash_it.gif"><img height=1 src="/images/spacer.gif" border=0>
            </td>
            </tr>
        </table>

        <table style="font-size: 1.2em;" cellspacing="0" cellpadding="0" width="100%" border=0>
            <tr bgcolor=#000000>
            <td align="left">
            <TMPL_IF SHOW_EDITOR_LINK>
                &nbsp;&nbsp;<a class="type5" href="/contact">meet the editor</a>
            </TMPL_IF>
            </td>
            <td align="right">
            <a class="type5" href="/audio">audio</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="type5" href="/public_library">library</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="type5" href="/gallery">gallery</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <!-- <a class="type5" href="http://www.cozmikast.com">cozmikast</a>&nbsp;&nbsp;&nbsp;&nbsp; -->
            <!-- <a class="type5" href="/contact">contact</a>&nbsp;&nbsp;&nbsp;&nbsp; -->
            <a class="type5" href="/preferences.html">dark mode</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="type5" href="/index.html">home</a>&nbsp;&nbsp;
            </td>
            </tr>
        </table>

        <table cellspacing="0" cellpadding="0" width="100%" border="0">
            <tr bgcolor=black>
            <td><img height="75" src="/images/spacer.gif" width="3" border="0"></td>
            <td><img height="75" src="/images/spacer.gif" width="100" border="0"></td>
            <td align="right" valign="middle">
            </td>
            <td><img height=22 src="/images/spacer.gif" width="3" border="0"></td></tr>
            </td>
            </tr>
        </table>

        <table cellspacing="0" cellpadding="0" width="100%" height="100%" border="0">
            <tr bgcolor="black">
            <td align="center"><br><br><br>
            </td>
            </tr>
        </table>

    </div>

    <div class="IX_footer_mobile">
        <div style="width: 100%; background-color: #000000; margin-top: 20px; height: 50vh;">
            <div align="center">
                <a href="/index.html"><img src="/images/2004_logo.jpg" height="55" width="55" vspace="30"></a>
            </div>
        </div>
    </div>

</div>

<script src="https://www.mindmined.com/dark.js"></script>

</body>
</html>
