<body bgColor="#FFFFFF" leftMargin="0" topMargin="0" marginheight="0" marginwidth="0">

<div class="IX_header">

    <table cellspacing="0" cellpadding="0" width="100%" border="0">
    <tr bgColor="black">
    <td>
    <img height="22" src="/images/spacer.gif" width="22" border="0">
    </td>
    </tr>
    <tr bgColor="black">
    <td valign="top" align="middle">
        <table cellspacing="0" cellpadding="0" width="100%" border="0">
        <tr bgColor="black">
        <td valign="top">
        <a title="Mind Mined Productions" href="/index.html"><img src="/images/2004_logo.jpg" border="0" hspace="30"></a>
        <a href="/index.html"><img src="/images/mind_mined_productions_gaze.gif" width=262 border=0></a>
        </td>
        <td valign="top">
        </td>
        <td valign="top" align="left"></td>
        <td valign="top" align="right">
        <font color="white">online since 1998</font>
        </td>
        <td><img height=22 src="/images/spacer.gif" width=9 border=0></td>
        </tr>
        <tr>
        </table>
    </td>
    </tr>
    <tr bgColor="black">
    <td>
    </td>
    </tr>
    <tr bgcolor="black" style="font-size: 1.2em;">
    <td align="right">
    <a class="type5" href="/audio">audio</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a class="type5" href="/public_library">library</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a class="type5" href="/gallery">gallery</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <!-- <a class="type5" href="https://www.cozmikast.com">cozmikast</a>&nbsp;&nbsp;&nbsp;&nbsp; -->
    <!-- <a class="type5" href="/contact">contact</a>&nbsp;&nbsp;&nbsp;&nbsp; -->
    <a class="type5" href="/preferences.html">dark mode</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a class="type5" href="/index.html">home</a>&nbsp;&nbsp;
    </td>
    </tr>
    <tr>
    <td background="/images/dash_it.gif"><img height=1 src="/images/spacer.gif" width=1 border="0">
    </td>
    </tr>
    <tr>
    <td><img height=10 src="/images/spacer.gif" width="1" border="0"></td>
    </tr>
    </table>

</div>

<div class="IX_header_mobile">
        <div style="float: left; width: 70%;">
            <a href="/"><img src="/images/2004_logo.jpg" height="50" width="50" hspace="10" vspace="10"></a>
        </div>
        <div id="IX_nav_mobile" class="IX_nav_mobile" style="float: right;">
                <!-- https://codepen.io/erikterwan/pen/EVzeRP -->
                <nav role="navigation">
                <div id="menuToggle" style="margin-right: 12px;">
                    <!--  hidden checkbox as click receiver; use the :checked selector on it -->
                    <label for="IX_mobile_menu_hidden_checkbox" style="display: none;">useless checkbox</label><input id="IX_mobile_menu_hidden_checkbox" name="IX_mobile_menu_hidden_checkbox" type="checkbox" />
                    <span></span>
                    <span></span>
                    <span></span>
                    <!-- menu has to be inside of the button; hey, it's pure CSS -->
                    <ul id="menu">
                    Mind Mined Productions
                        
                        <li><a style="text-decoration:none;" target="_top" href="/"><span class="IX_nav_event" id="">Home</span></a></li>
                        <li><a style="text-decoration:none;"  target="_top" href="/public_library/"><span class="IX_nav_event" id="">Public Library</span></a></li>
                        <li><a style="text-decoration:none;"  target="_top" href="/audio/"><span class="IX_nav_event" id="">Audio Funhouse</span></a></li>
                        <li><a style="text-decoration:none;"  target="_top" href="/gallery/"><span class="IX_nav_event" id="">Gallery</span></a></li>
                        <li><a style="text-decoration:none;"  target="_top" href="/contact/"><span class="IX_nav_event" id="">Meet The Editor</span></a></li>
                    
                    </ul>
                </div>
                </nav>
        </div>
        <div style="clear: both;"></div>
</div>



